@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: linear-gradient(to right, #ffd65b, #f6ae28);
}
main {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  padding: 10px;
  margin:auto
  
}